*,
body {
  margin: 0;
  padding: 0;
}

body {
    animation: gradientBackground 10s infinite alternate;
  }
  
  @keyframes gradientBackground {
    0% {
      background: linear-gradient(45deg, #4c77c1, #4a69bb, #8e9eef); /* Start color gradient */
    }
    50% {
      background: linear-gradient(45deg, #a97dfa, #7f85d4, #5171b8); /* Middle color gradient */
    }
    100% {
      background: linear-gradient(45deg, #b48aff, #a380ff, #7579ff); /* End color gradient */
    }
    
  }
  

/* Button */
.menu-mobile {
  position: relative;
  float: right;
  display: none;
}

.menu-mobile a {
  color: #888;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #888;
}

/* Button Colors */
.bg-blue {
  background-color: blue;
  color: #fff;
  box-shadow: 0 0 7px 0px blue;
  border: 1px solid blue;
}

.bg-blue:hover{
    color: white;
    border: 1px solid white;
    background-color: blue;
    box-shadow: 0 0 7px 0px white;
    transition: 0.5s;
}

.bg-green {
  background-color: green;
  color: white;
  box-shadow: 0 0 7px 0px green;
  border: 1px solid green;
  transition: 0.5s;
  box-shadow: 0 0 7px 0px green;
}

.border-green:hover{
    color: white;
    border: 1px solid white;
}

.border-green {
  color: green;
  border: 1px solid green;
}

/* Component */
.text-black {
  color: black;
}

.text-gray {
  color: #ffffff;
}

.button {
  position: relative;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  margin-right: 15px;
  border-radius: 3px;
}

/* Navbar */
nav {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: -1px -7px 20px 0px #888888;
}

nav ul {
  position: relative;
  top: 20px;
  margin: 0;
  float: right;
  right: 10%;
}

nav ul li {
  float: left;
  display: block;
  margin: 0px 15px;
}

nav ul li a {
  text-decoration: none;
  color: #888888;
  font-family: sans-serif;
  font-size: 14px;
}

nav ul li a:hover {
  color: orange;
}

/* Profile Section */
section#box-profile {
  position: relative;
  width: 80%;
  min-height: 250px;
  margin: 60px 10%;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 7px 0px rgba(136, 136, 136, 0.2);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

#box-profile .img-profile:hover {
    transform: scale(1.05); 
    transition: 0.5s;
    box-shadow: 0 0 7px 0px rgba(255, 0, 0, 0.2);
}

#box-profile .img-profile {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 300px;
  float: left;
  margin-left: 40px;
  top: 25px;
}

.img-profile .photo {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 300px;
}

.description {
  position: relative;
  width: 400px;
  display: inline-block;
  float: left;
  margin-left: 30px;
  top: 50px;
  font-family: "Helvetica", sans-serif;
  border-right: 1px solid #efefef;
}

.description h1 {
  font-size: 32px;
  margin-bottom: 14px;
  color: rgb(0, 0, 0);
}

.description p {
  color: #888888;
  color: white;
}

.description .button {
  margin-top: 40px;
}

.information {
  position: relative;
  display: inline-block;
  float: left;
  font-family: "Helvetica", sans-serif;
  top: 45px;
  margin-left: 30px;
  color: white;
}

.information .data {
  display: block;
  width: 100%;
  height: 36px;
}

.information p.field {
  font-weight: 600;
  width: 150px;
  color: #000000;
}

.information .data p {
  float: left;
}

/* Form Section */
section#input-form {
  position: relative;
  max-width: 80%;
  margin: 60px 10%;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 0 7px 0 rgba(136, 146, 146, 0.2);
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 7px 0px rgba(136, 136, 136, 0.2);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

#input-form .form {
  width: 100%;
  display: grid;
  margin: 15px 0;
}

label {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 600;
}

input {
  font-family: "Helvetica", sans-serif;
  padding: 10px 20px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #888888;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

/* Responsive */
@media (min-width: 320px) and (max-width: 768px) {
  section#box-profile {
    width: 90%;
    height: 630px;
    margin: 30px 5%;
  }

  .menu-mobile {
    top: 20px;
    right: 10%;
    display: inline-block;
  }

  nav ul {
    display: none;
    right: 0;
    width: 100%;
    text-align: center;
    top: 43px;
    z-index: 99;
    background: #fff;
  }

  nav ul li {
    float: unset;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .description {
    padding-left: 0px;
    width: 100%;
    text-align: center;
    margin-left: 0;
    border: none;
  }

  .description .button {
    margin-right: 10px;
    margin-left: 10px;
  }

  .information {
    top: 75px;
    margin-left: 25px;
    font-size: 14px;
  }
}